////////////////////////////////////////////////////////////////////////////////
//  _______                _____      _                       ___   ___  _    
// |__   __|              |  __ \    (_)                     |__ \ / _ \| |   
//    | | __ _ _ __   __ _| |__) | __ _ _ __ ___   ___ _ __     ) | | | | | __
//    | |/ _` | '_ \ / _` |  ___/ '__| | '_ ` _ \ / _ \ '__|   / /| | | | |/ /
//    | | (_| | | | | (_| | |   | |  | | | | | | |  __/ |     / /_| |_| |   < 
//    |_|\__,_|_| |_|\__, |_|   |_|  |_|_| |_| |_|\___|_|    |____|\___/|_|\_\
//                    __/ |                                                   
//                   |___/                                                    
//  _____             _      ______      _                                    
// |  __ \           | |    |  ____|    | |                                   
// | |  | | ___   ___| | __ | |__  __  _| |_                                  
// | |  | |/ _ \ / __| |/ / |  __| \ \/ / __|                                 
// | |__| | (_) | (__|   <  | |____ >  <| |_                                  
// |_____/ \___/ \___|_|\_\ |______/_/\_\\__|                                 
//                                                                            
////////////////////////////////////////////////////////////////////////////////
// Clock
IO_LOC "clk27" H11;
IO_PORT "clk27" IO_TYPE=LVCMOS33;

////////////////////////////////////////////////////////////////////////////////
// Serial
IO_LOC "serial_rx" T13;
IO_PORT "serial_rx" IO_TYPE=LVCMOS33;
IO_LOC "serial_tx" M11;
IO_PORT "serial_tx" IO_TYPE=LVCMOS33;

////////////////////////////////////////////////////////////////////////////////
// DDRAM
IO_LOC "ddram_a[0]" F7;
IO_PORT "ddram_a[0]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[1]" A4;
IO_PORT "ddram_a[1]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[2]" D6;
IO_PORT "ddram_a[2]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[3]" F8;
IO_PORT "ddram_a[3]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[4]" C4;
IO_PORT "ddram_a[4]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[5]" E6;
IO_PORT "ddram_a[5]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[6]" B1;
IO_PORT "ddram_a[6]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[7]" D8;
IO_PORT "ddram_a[7]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[8]" A5;
IO_PORT "ddram_a[8]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[9]" F9;
IO_PORT "ddram_a[9]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[10]" K3;
IO_PORT "ddram_a[10]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[11]" B7;
IO_PORT "ddram_a[11]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[12]" A3;
IO_PORT "ddram_a[12]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[13]" C8;
IO_PORT "ddram_a[13]" IO_TYPE=SSTL15;
IO_LOC "ddram_ba[0]" H4;
IO_PORT "ddram_ba[0]" IO_TYPE=SSTL15;
IO_LOC "ddram_ba[1]" D3;
IO_PORT "ddram_ba[1]" IO_TYPE=SSTL15;
IO_LOC "ddram_ba[2]" H5;
IO_PORT "ddram_ba[2]" IO_TYPE=SSTL15;
IO_LOC "ddram_ras_n" R4;
IO_PORT "ddram_ras_n" IO_TYPE=SSTL15;
IO_LOC "ddram_cas_n" R6;
IO_PORT "ddram_cas_n" IO_TYPE=SSTL15;
IO_LOC "ddram_we_n" L2;
IO_PORT "ddram_we_n" IO_TYPE=SSTL15;
IO_LOC "ddram_cs_n" P5;
IO_PORT "ddram_cs_n" IO_TYPE=SSTL15;
IO_LOC "ddram_dm[0]" G1;
IO_PORT "ddram_dm[0]" IO_TYPE=SSTL15;
IO_LOC "ddram_dm[1]" K5;
IO_PORT "ddram_dm[1]" IO_TYPE=SSTL15;
IO_LOC "ddram_dq[0]" G5;
IO_PORT "ddram_dq[0]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[1]" F5;
IO_PORT "ddram_dq[1]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[2]" F4;
IO_PORT "ddram_dq[2]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[3]" F3;
IO_PORT "ddram_dq[3]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[4]" E2;
IO_PORT "ddram_dq[4]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[5]" C1;
IO_PORT "ddram_dq[5]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[6]" E1;
IO_PORT "ddram_dq[6]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[7]" B3;
IO_PORT "ddram_dq[7]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[8]" M3;
IO_PORT "ddram_dq[8]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[9]" K4;
IO_PORT "ddram_dq[9]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[10]" N2;
IO_PORT "ddram_dq[10]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[11]" L1;
IO_PORT "ddram_dq[11]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[12]" P4;
IO_PORT "ddram_dq[12]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[13]" H3;
IO_PORT "ddram_dq[13]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[14]" R1;
IO_PORT "ddram_dq[14]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[15]" M2;
IO_PORT "ddram_dq[15]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dqs_p[0]" G2,G3;
IO_PORT "ddram_dqs_p[0]" IO_TYPE=SSTL15D;
IO_LOC "ddram_dqs_p[1]" J5,K6;
IO_PORT "ddram_dqs_p[1]" IO_TYPE=SSTL15D;
IO_LOC "ddram_clk_p" J1,J3;
IO_PORT "ddram_clk_p" IO_TYPE=SSTL15D;
IO_LOC "ddram_cke" J2;
IO_PORT "ddram_cke" IO_TYPE=SSTL15;
IO_LOC "ddram_odt" R3;
IO_PORT "ddram_odt" IO_TYPE=SSTL15;
IO_LOC "ddram_reset_n" B9;
IO_PORT "ddram_reset_n" IO_TYPE=SSTL15;

////////////////////////////////////////////////////////////////////////////////
// LED
IO_LOC "led[0]" L16;
IO_PORT "led[0]" IO_TYPE=LVCMOS33;
IO_LOC "led[1]" L14;
IO_PORT "led[1]" IO_TYPE=LVCMOS33;
IO_LOC "led[2]" N14;
IO_PORT "led[2]" IO_TYPE=LVCMOS33;
IO_LOC "led[3]" N16;
IO_PORT "led[3]" IO_TYPE=LVCMOS33;
IO_LOC "led[4]" A13;
IO_PORT "led[4]" IO_TYPE=LVCMOS33;
IO_LOC "led[5]" C13;
IO_PORT "led[5]" IO_TYPE=LVCMOS33;

////////////////////////////////////////////////////////////////////////////////
// Buttons
IO_LOC "btn_n[0]" T10;
IO_PORT "btn_n[0]" IO_TYPE=LVCMOS33;
IO_LOC "btn_n[1]" T3;
IO_PORT "btn_n[1]" IO_TYPE=LVCMOS15;
IO_LOC "btn_n[2]" T2;
IO_PORT "btn_n[2]" IO_TYPE=LVCMOS15;
IO_LOC "btn_n[3]" D7;
IO_PORT "btn_n[3]" IO_TYPE=LVCMOS15;
IO_LOC "btn_n[4]" C7;
IO_PORT "btn_n[4]" IO_TYPE=LVCMOS15;

////////////////////////////////////////////////////////////////////////////////
// USB PHY
IO_LOC "ulpi_stp" K11;
IO_PORT "ulpi_stp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_rst" F10;
IO_PORT "ulpi_rst" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[7]" R12;
IO_PORT "ulpi_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[6]" P13;
IO_PORT "ulpi_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[5]" R13;
IO_PORT "ulpi_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[4]" T14;
IO_PORT "ulpi_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[3]" H13;
IO_PORT "ulpi_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[2]" J12;
IO_PORT "ulpi_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[1]" H12;
IO_PORT "ulpi_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[0]" G11;
IO_PORT "ulpi_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_nxt" K13;
IO_PORT "ulpi_nxt" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ulpi_dir" K12;
IO_PORT "ulpi_dir" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ulpi_clk" T15;
IO_PORT "ulpi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

////////////////////////////////////////////////////////////////////////////////
// Ethernet PHY
IO_LOC "phyrst" F10;
IO_PORT "phyrst" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC "netrmii_txd[1]" E14;
IO_PORT "netrmii_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "netrmii_txd[0]" D16;
IO_PORT "netrmii_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "netrmii_txen" E16;
IO_PORT "netrmii_txen" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC "netrmii_mdc" F14;
IO_PORT "netrmii_mdc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC "netrmii_rxd[1]" C9;
IO_PORT "netrmii_rxd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "netrmii_rxd[0]" F15;
IO_PORT "netrmii_rxd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "netrmii_rx_crs" M6;
IO_PORT "netrmii_rx_crs" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "netrmii_clk50m" A9;
IO_PORT "netrmii_clk50m" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "netrmii_mdio" F16;
IO_PORT "netrmii_mdio" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 OPEN_DRAIN=ON;


////////////////////////////////////////////////////////////////////////////////
// WS2812
IO_LOC "WS2812" T9;
IO_PORT "WS2812" IO_TYPE=LVCMOS33;

////////////////////////////////////////////////////////////////////////////////
// Ethernet PHY
IO_LOC "netrmii_clk50m" A9;
IO_PORT "netrmii_clk50m" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "phyrst" F10;
IO_PORT "phyrst" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "netrmii_txd[1]" E14;
IO_PORT "netrmii_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "netrmii_txd[0]" D16;
IO_PORT "netrmii_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "netrmii_txen" E16;
IO_PORT "netrmii_txen" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "netrmii_rxd[1]" C9;
IO_PORT "netrmii_rxd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "netrmii_rxd[0]" F15;
IO_PORT "netrmii_rxd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "netrmii_rx_crs" M6;
IO_PORT "netrmii_rx_crs" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "netrmii_mdc" F14;
IO_PORT "netrmii_mdc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC "netrmii_mdio" F16;
IO_PORT "netrmii_mdio" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 OPEN_DRAIN=ON;

////////////////////////////////////////////////////////////////////////////////
//